.social-icons {
  display: flex;
  // justify-content: flex-start;
  // $align-items: flex-start;
  gap: 10px;

  &__link--footer {
    display: flex;
    justify-content: center;
    $align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: $main-footer-color;

    transition-property: background-color;
    transition-duration: $trans-dur;
    transition-timing-function: $trans-tf;
  }

  &__logo--footer {
    fill: currentColor;
  }
  &__link--footer:hover,
  &__link--footer:focus {
    background-color: $hover-bg-link;
  }
}
