/* text color */
$hover-text-color: #2196f3;
$main-text-color: #212121;
$second-text-color: #ffffff;
$third-text-color: #757575;
$logo-text-color: #000000;
$link-fill-color: #afb1b8;
$main-footer-color: #ffffff;
$header-border-bot-color: #ececec;
$logo-part-color: #2196f3;
$address-link-color: rgba(255, 255, 255, 0.6);
/* background-color */
$dark-bg: #2f303a;
$light-bg: #ffffff;
$other-bg: #f5f4fa;
$bg-btn: #2196f3;
$hover-bg-btn: #188ce8;
$hover-bg-link: #2196f3;
$hover-fill-link: #ffffff;
$border-main-color: #afb1b8;
$bg-image-works: rgba(47, 48, 58, 0.8);
/* border-color */
$portfolio-border: #eeeeee;
/* anime */
$trans-dur: 250ms;
$trans-tf: cubic-bezier(0.4, 0, 0.2, 1);

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
$indent: 30px;
